<div class="content-message" id="message-<%= message.id %>">
  <%= image_tag "https://avatars.githubusercontent.com/u/88181896?v=4", class:"avatar-large" %>
  <div class="container">
    <p><%= message.user.username %></p>
    <p><%= message.content%></p>
  </div>
</div>
