// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ui-color-background: #4A235A;
$ui-color-highlight: #6B192D;

$background-color:#201F30;
$card-color: #34344E;
