// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ui-color-background: #4A235A;
$ui-color-highlight: #6B192D;
$ui-color-highlight-rgba-fade: rgba(107,25,45, .4);

$background-color:#201F30;
$card-color: #34344E;

.dark_purple_background {
  background: $background-color;
}

.white_background {
  background: #fff;
}

.black_background {
  background: #000;
}

.main-color_background {
  background: $background-color;
}

.mauve_background {
  background: $ui-color-highlight;
}

.white-text {
  color: #fff;
}

.dark-mauve-text {
  color: $ui-color-highlight;
}

.background-color_text {
  color: $background-color;
}
