// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

 // To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Post No Bills Colombo";
   src: font-url('PostNoBillsColombo-Regular.ttf') format('truetype'),
   font-url('PostNoBillsColombo-Bold.ttf') format('truetype'),
   font-url('PostNoBillsColombo-Light.ttf') format('truetype'),
   font-url('PostNoBillsColombo-Medium.ttf') format('truetype');
 }
 $my-font: "Post No Bills Colombo";
