$ui-nav-icons-size: 50px;
$ui-nav-icon-radius: $ui-nav-icons-size / 2;
/* 17px is margin space so icon height + 17px is total top nav height */
$ui-nav-icons-yoffset: $ui-nav-icons-size + 17px;
$ui-nav-bigger-icon-size: $ui-nav-icons-size * 1.5;
$ui-nav-bigger-icon-radius: $ui-nav-bigger-icon-size / 2;
$ui-nav-double-icon-size: $ui-nav-icons-size * 2;




.wireframe {
  outline: 1px solid #808080;
}

.ro-section {
  margin-top: 20px;
}

h3.section-title {
    font-size: 2.5rem;
    font-weight:600;
    position: relative;
    float: left;
    text-shadow: 1px 1px 3px rgba(0,0,0,2);
  }

h3.section-title-smaller {
    font-size: 2rem;
    font-weight:600;
    position: relative;
    float: left;
    text-shadow: 1px 1px 3px rgba(0,0,0,2);
  }

.ro-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.ro-wrapper {
  display: flex;
  width: 100%;

}

.ro-button-link {
  background-color: $ui-color-highlight;
  color: #fff;
  float: right;
  padding: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 10px;
}

/* 320px — 480px: Mobile devices. */
/* 481px — 768px: iPads, Tablets. */
/* 769px — 1024px: Small screens, laptops. */
/* 1025px — 1200px: Desktops, large screens. */
/* 1201px and more — Extra large screens, T */

@media(max-width: 1200px) {
  .ro-container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media(max-width: 1024px) {
  .ro-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}


@media(max-width: 768px) {
  .ro-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media(max-width: 480px) {
  .ro-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}


@media(max-height: 700px) and (max-width: 480px) {
  h3.section-title {
    font-size:8vw;
  }
  h3.section-title-smaller {
    font-size: 7vw;
  }
}
