$ui-nav-icons-size: 50px;
$ui-nav-icon-radius: $ui-nav-icons-size / 2;
/* 17px is margin space so icon height + 17px is total top nav height */
$ui-nav-icons-yoffset: $ui-nav-icons-size + 17px;
$ui-nav-bigger-icon-size: $ui-nav-icons-size * 1.5;
$ui-nav-bigger-icon-radius: $ui-nav-bigger-icon-size / 2;
$ui-nav-double-icon-size: $ui-nav-icons-size * 2;

/* x pos indent on home page banner */
$banner_items_indent: 20%;

.wireframe {
  outline: 1px solid #fff;
}

.ro-section {
  margin-top: 20px;
}

.ro-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.ro-wrapper {
  display: flex;
}

/* 320px — 480px: Mobile devices. */
/* 481px — 768px: iPads, Tablets. */
/* 769px — 1024px: Small screens, laptops. */
/* 1025px — 1200px: Desktops, large screens. */
/* 1201px and more — Extra large screens, T */

@media(max-width: 1200px) {
  .ro-container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media(max-width: 1024px) {
  .ro-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}


@media(max-width: 768px) {
  .ro-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media(max-width: 480px) {
  .ro-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
