// Specific CSS for your home-page


.half_and_half-wrapper {
  height: 250px;
}

.home-halfscreen-lower {

  top: 250px;
}

.home-halfscreen-upper {

}

.overlay-wrapper {
    position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  outline: 1px solid blue;
  z-index: 50;
  background: transparent;
}

.big-center-card {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
  background: #ddd;
  border-radius: 15px;
  overflow: hidden;
}

/* secondary banner and cta */
.secondary-landing-banner-wrapper {

  max-height: 500px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: auto;
  background-image: url("secondary-banner-image-mercury.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secondary-cta-question {
  font-weight:700;
}

.secondary-landing-banner-content {

  height: 100vh;
  max-height: 500px;
}


@media(max-height: 500px) {
  .half_and_half-wrapper {
    height: 50vh;
  }

  .home-halfscreen-lower {
    background-color: #fff;
    top: 50vh;
  }

  .overlay-wrapper {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 700px;
    outline: 1px solid blue;
    z-index: 50;
    background: transparent;
  }

  /* 320px — 480px: Mobile devices. */
  /* 481px — 768px: iPads, Tablets. */
  /* 769px — 1024px: Small screens, laptops. */
  /* 1025px — 1200px: Desktops, large screens. */
  /* 1201px and more — Extra large screens, T */


  @media(max-width: 1200px) {
    .half_and_half-wrapper {
      height: 50vh;
    }
    .home-halfscreen-lower {
      top: 50vh;
    }
    .overlay-wrapper {
      height: 90vh;
      top: 5vh;
    }



  }

  @media(max-width: 1024px) {
    .half_and_half-wrapper {
      height: 30vh;
    }
    .home-halfscreen-lower {
      top: 30vh;
    }
    .overlay-wrapper {
      height: 50vh;
      top: 5vh;
    }
  }


  @media(max-width: 768px) {
    .half_and_half-wrapper {
      height: 25vh;
    }
    .home-halfscreen-lower {
      top: 25vh;
    }
    .overlay-wrapper {
      height: 40vh;
      top: 5vh;
    }

  }



}

@media(max-width: 480px) {
    .half_and_half-wrapper {
      height: 35vh;
    }
    .home-halfscreen-lower {
      top: 35vh;
    }
    .overlay-wrapper {
      height: 60vh;
      top: 5vh;
    }

  }

/* targeting landscape smartphones */
@media(max-height: 450px) {
  .half_and_half-wrapper {
    height: 50vh;
  }

  .home-halfscreen-lower {
    top: 50vh;
  }
  .overlay-wrapper {
    height: 90vh;
    top: 5vh;
  }

}
