// Specific CSS for your home-page


/* secondary banner and cta */
.secondary-landing-banner-wrapper {

  max-height: 500px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: auto;
  background-image: url("secondary-banner-image-mercury.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secondary-cta-question {
  font-weight:700;
}

.secondary-landing-banner-content {

  height: 100vh;
  max-height: 500px;
}
