<!-- brand home -->
<div style="ro-navbar__brand-icon-outer-container wireframe">
  <div class="<%= display_class %> ro-navbar__brand-icon-container wireframe">

  <%= link_to "#", class: "wireframe", style: "" do %>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Created with Inkscape (http://www.inkscape.org/) -->

    <svg xmlns="http://www.w3.org/2000/svg" class="ro-navbar__brand-icon wireframe"  preserveAspectRatio="none" style="" viewBox="0 0 132.29167 132.29167">
      <path d="m 87.657207,119.94579 c -3.529739,-0.36163 -3.822959,-1.17337 -4.724799,-13.07999 -1.54687,-20.422452 -3.51572,-27.5184 -8.2599,-29.769648 -1.50404,-0.713707 -5.34805,-1.442581 -10.04971,-1.905571 -2.27847,-0.224357 -4.65383,-0.472977 -5.27857,-0.552467 l -1.1359,-0.144537 v -7.545138 -7.545138 l 4.88574,-0.331707 c 11.5966,-0.787347 14.8435,-2.675615 17.041,-9.910363 0.5338,-1.757401 0.58061,-2.337198 0.4418,-5.47225 -0.16457,-3.716969 -0.6285,-5.915287 -1.66762,-7.901955 -2.15584,-4.121706 -5.667,-5.56961 -16.62506,-6.855711 l -4.07586,-0.478367 V 20.85354 13.254122 l 8.48581,0.14504 c 9.69787,0.16576 10.74944,0.32097 14.63049,2.159428 3.289,1.558001 5.18239,2.832725 7.56799,5.09516 4.427392,4.198799 7.155638,9.903636 8.09689,16.930774 0.45374,3.387512 0.147942,9.320969 -0.688255,13.353695 -1.149152,5.54209 -2.454944,8.364632 -5.921214,12.798898 l -2.013611,2.575925 0.824719,1.099884 c 2.043423,2.725195 3.760177,5.22896 4.54604,6.630104 1.871781,3.337179 3.058924,8.194162 3.874389,15.85122 0.979894,9.201016 1.808511,23.73736 1.565661,27.46631 -0.137229,2.10695 -0.20937,2.35458 -0.716008,2.45754 -1.025763,0.20846 -9.085871,0.30372 -10.804022,0.12769 z"/>
    <path d="m 37.056148,119.94731 c -2.57038,-0.35303 -3.06868,-0.59957 -3.30761,-1.63652 -0.25362,-1.10075 -0.50051,-99.740408 -0.25726,-102.78387 l 0.17624,-2.204968 h 7.82952 7.82951 l 0.186331,8.886672 c 0.237839,11.343234 0.0165,95.188486 -0.25437,96.369436 -0.13754,0.5996 -0.431511,0.98194 -0.90549,1.17765 -0.902851,0.3728 -8.980131,0.50979 -11.296871,0.1916 z" />
    </svg>

  <% end %>

  </div>
</div>
