<div class="performance-show-navbar__outer_container wireframe" style="">
  <div class="performance-show_navbar__inner_container" style="">
    <p class="performance-show_navbar__text wireframe" style="margin-bottom: 0px; margin-left: 10px; width: 100%;"><%= @performance.artist.name %></p>
    <p class="performance-show_navbar__text wireframe" style="margin-bottom: 0px; margin-left: 10px; width: 100%;">Currently playing: <span class="performance-nav__song-title song-title-fade-in" id="song_title_live_display">---</span></p>
  </div>
</div>
