<div class="searchbar-main wireframe" style="">
  <p class="currently_playing_text wireframe" style="position: relative; margin-bottom: 0px; margin-left: 10px; z-index: 99;">Currently playing: <span id="song_title">---</span></p>
</div>
