<div class="searchbar-main wireframe" style="">
  <p class="currently_playing_text wireframe" style="margin-bottom: 0px; margin-left: 10px;">Currently playing: <span id="song_title">---</span></p>
</div>
