<div class="performance_show_navbar__outer_container wireframe" style="">
  <div class="performance_show_navbar__inner_container" style="">
    <p class="performance_show_navbar__text wireframe" style=""><%= @performance.artist.name %></p>
    <p class="performance_show_navbar__text wireframe" style="">Currently playing: <span id="song_title">---</span></p>
  </div>
</div>
