<div class="wrapper ro-wrapper" style="">
  <div class="ro-container wireframe">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

<div class="wrapper ro-wrapper">
 <div class="ro-container wireframe">
    <div class="footer-copyright">
      <span style="color: #fff; float: right;">Made with <i class="fas fa-heart"></i> by LiveHere</span>
    </div>
  </div>
</div>
