<!-- go -->
<div class="ro-button-h2text-sized-outer-outer-container" style="">
  <div style="ro-button-h2text-sized-outer-container wireframe" style="">
    <div class="ro-button-go-icon-container wireframe">
      <%= link_to performances_path, class: "ro-button-go-icon-container wireframe", style: ""  do %>
        <i class="<%= "fas fa-chevron-right ro-button-standard-go-icon" %>"></i>
      <% end %>
    </div>
  </div>
</div>
