<div class="fixed-bottom bottom-bar" style="z-index: 50;">
  <div class="navbar navbar-expand-sm navbar-light wireframe" style="padding-left: 0px; padding-right: 0px;">
    <div class="ro-container wireframe" style="overflow: visible; z-index: 80;">
      <!-- user options - hidden from top nav on small screens, shown on bottom nav on small screens -->
      <%= render partial: 'shared/user_options_button', locals: {:display_class => "bottom-nav-icons", :drop_button_id => "useroptions-dropup", :drop_menu_id => "useroptions-dropup-menu"} %>
      <!--tip button - shown on bottom nav on small screens -->
      <%= render 'shared/bigbutton', display_class: "bottom-nav-icons" %>
      <!-- home - shown on bottom nav on small screens -->
      <%= render 'shared/brand_logo_button', display_class: "bottom-nav-icons" %>
    </div>
  </div>
</div>
