
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="padding-left: 0px; padding-right: 0px; ">

  <!-- background opacity shifting rectangle -->
  <div id="test" class="navbar-background" style="z-index: 99;"></div>

  <div class="ro-container wireframe" style="">
    <!-- brand home - hidden from top nav on small screens -->
    <%= render 'shared/brand_logo_button', display_class: "top-nav-icons" %>
    <!-- Raibuon search bar -->
    <%= render 'shared/searchbar', display_class: "searchbar-mobile" %>
    <!-- user options - hidden from top nav on small screens -->
    <%= render 'shared/user_options_button', display_class: "top-nav-icons" %>
  </div>

</div>
