<!-- qr scan -->
<div style="ro-button-standard-icon-outer-container wireframe">
  <div class="<%= display_class %> ro-button-standard-icon-container wireframe">
    <%= link_to "https://qrcodescan.in/", class: "#{display_class} ro-button-standard-icon-container wireframe", style: ""  do %>
      <i class="<%= "fas fa-qrcode ro-button-standard-qrscan-icon" %>"></i>
    <% end %>
  </div>
</div>
