
<!-- position relative square -->
<div class="wireframe ro-button-useroptions-outer-container <%= display_class %>" style="">
  <!-- position fixed square -->
  <div class="wireframe ro-button-useroptions-inner-container">

    <% if user_signed_in? %>

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "ro-button-useroptions-avatar" %>
      <% else %>
        <div class="ro-navbar__user-login-icon-container">
          <i class="fas fa-user ro-navbar__user-login-icon" style=""></i>
        </div>
      <% end %>

      <div id="myDropdown" class="ro-button-useroptions-cssdropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
      <!-- button is z-indexed above everything else and given 0 opacity -->
      <div id="myDropdownBtn" class="ro-button-useroptions-cssdropbtn"></div>

    <% else %>

      <%= link_to new_user_session_path, class: "ro-navbar__user-login-icon-container wireframe", style: ""  do %>
        <i class="fas fa-user ro-navbar__user-login-icon" style=""></i>
      <% end %>

    <% end %>

 </div>
</div>
