<!-- banner image -->
<div id="landing-wrapper-background"></div>

<!--  -->
<div class="wrapper" id="landing-wrapper">
  <div class="ro-container wireframe">

    <div class="vertical-offcenter landing-text wireframe">
      <div class="landing-text__item-containers wireframe">
        <h1 class="ro-landing-title heading-inset wireframe" style="z-index: 50;">RaibuOn</h1>
      </div>
      <div class="landing-text__item-containers wireframe">
        <h2 class="ro-landing-sub-title heading-inset wireframe">Live music near you</h2>
      </div>
      <!-- Raibuon search bar -->
      <div class="landing-text__item-containers wireframe searchbar-inset">
        <%= render 'shared/searchbar', display_class: "searchbar-home" %>
      </div>
    </div>

  </div>
</div>

<div class="wrapper ro-wrapper" style="background-color: #000; height: 100vh;">
  <div class="ro-container wireframe" style="">
  </div>
</div>
