$background-color:#201F30;
$card-color: #34344E;
$button-color: #6B192D;

.title-container{
  height: 100px;
  display: flex;
  justify-content: start;
  overflow: hidden;
  img{
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  h3{
    font-family: 'Post No Bills Colombo', sans-serif;
    font-size: 30px;
    margin: auto;
  }
  h1{
    margin: auto;
    font-family: 'Post No Bills Colombo', sans-serif;
  }
}

.tip-container{
  height: 100px;
  border-radius: 20px;
  background-color: $card-color;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  h3{
    font-family: 'Post No Bills Colombo', sans-serif;
    margin: auto;
  }
  h1{
    margin: auto;
    font-family: 'Post No Bills Colombo', sans-serif;
  }
}

.tip-message{
  background-color: $background-color;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  h5{
    font-size: 25px;
    text-align: center;
    flex-grow: 2;
    margin: auto;
  }
  span{
  color: white;
  font-family: 'Post No Bills Colombo', sans-serif;
  font-size: 30px;
  margin: auto;
  }
}

.message-container{
  max-height: 900px;
  border-radius: 20px;
  background-color: $card-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
  h3{
    padding-top: 10px;
  }
  h1{
    text-align: center;
  }
  p{
    font-size: 20px;
    margin: 5px;
    text-align: start;
  }
}

.content-message{
  background-color: $background-color;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  p{
    font-size: 20px;
  }
  span{
  color: white;
  font-family: 'Post No Bills Colombo', sans-serif;
  font-size: 30px;
  margin: auto;
  }
}

.messages-content{
  height: 180px;
  overflow: scroll;
}

.messages-content-large{
  overflow: scroll;
}

.tip-text{
  font-size: 30px;
}

.message-img{
  border-radius: 20px;
  width: 90%;
}

p{
  text-align: start;
}

.mine {
  p{
    text-align: end;
  }
  .content {
    flex-direction: row-reverse;
  }
}


@media (max-width: 750px) {
  .tip-container{
    width: 100%;
    h1{
      font-size: 20px;
    }
    h3{
      font-size: 20px;
    }
  }
}
