.details{
  p {
    font-size: 10px;
  }
}



.performance-photos {
  position: relative;


  .tips-today {
    position: absolute;
    color: white;
    text-shadow: 1px 2px 3px #808080;
    bottom: 0px;
    left: 5px;
    z-index: 2;
  }

  .performance-photo {
    width: 100%;
  }
}
.input-color {
  background-color: #5c5c84;
  color: white;
  &:focus {
    background-color: #5c5c84;
    color: white;
  }
}
