.details{
  p {
    font-size: 10px;
  }
}

.performance-photos {
  position: relative;
  .tips-today {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-shadow: 1px 2px 3px #808080;
    bottom: 0px;
    left: 5px;
    z-index: 2;
  }

  .performance-photo {
    width: 100%;
  }
}
.input-color {
  background-color: #5c5c84;
  color: white;
  &:focus {
    background-color: #5c5c84;
    color: white;
  }
}

.performance-show-navbar__outer_container {
  flex-grow: 1;
  display: flex;
  z-index: 97;
}

.performance-show-navbar__inner_container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 98;
}

p.performance-show-navbar__text {
  width: 100%;
  margin-bottom: 0px;
  margin-left: 10px;
  z-index: 99;
  }

.performance-nav__song-title {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.performance-nav__song-title.song-title-fade-in {
opacity: 1;
  }

.performance-nav__song-title.song-title-fade-out {
opacity: 1;
  }

  .live-container {
  border-radius: 2px;
  padding: 0px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 0px;
  background-color: orange;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  display: inline-block;
}

@keyframes flash {
  0% {
	background-color: red;
  }
}
