<div class="container">
  <h1>Are you sure?</h1>
  <p>You are tipping <strong><%= @tip.performance.artist.name %></strong> for <strong><%= humanized_money_with_symbol @tip.amount %></strong></p>
  <button id="tip" class="btn btn-primary">TIP!</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('tip');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @tip.checkout_session_id %>'
      });
    });
  </script>
</div>
