<div class="container">
  <div class="col">
    <h1>Are you sure?</h1>
    <p>You are tipping <strong><%= @tip.performance.name %></strong> for <strong><%= humanized_money_with_symbol @tip.amount %></strong></p>
    <button id="pay" class="btn btn-primary">Yes!</button>
  </div>
</div>
