.ro-button-brand-icon-outer-container {
  width: $ui-nav-icons-size;
  height: $ui-nav-icons-size;
}

.ro-button-brand-icon-container {
  width: $ui-nav-icons-size;
  height: $ui-nav-icons-size;
  padding: 0px;
  border-radius: 50%;
  overflow: hidden;
  background: $ui-color-highlight;
}

.ro-button-brand-icon {
  width: 90%;
  height: 90%;
  fill: #fff;
  font-size: calc(#{$ui-nav-icons-size} - 5px);
  padding-top: 0px;
  z-index: 99;
  position: relative;
  left: 5%;
  top: 5%;
  vertical-align: bottom;
}
