.ro-button-bigbutton-icon-container {
  width: $ui-nav-bigger-icon-size;
  height: $ui-nav-bigger-icon-size;
  border-radius: 50%;
  margin-left: calc(#{$ui-nav-bigger-icon-radius} * -1);
  z-index: 50;
  position: absolute;
  /* If someone prefers the tip button fully contained within the bottom nav bar, change this css */
  top: calc(#{$ui-nav-icon-radius} * -1);
  background: $ui-color-highlight;
  cursor: pointer;

  .ro-button-bigbutton-qrscan-icon {
    width: $ui-nav-bigger-icon-size;
    height: $ui-nav-bigger-icon-size;
    color: #fff;
    font-size: calc(#{$ui-nav-bigger-icon-size} * 0.8);
    padding-top: calc(#{$ui-nav-bigger-icon-size} * 0.1);
    text-align: center;
  }

  .ro-button-bigbutton-search-icon {
    width: $ui-nav-bigger-icon-size;
    height: $ui-nav-bigger-icon-size;
    color: #fff;
    font-size: calc(#{$ui-nav-bigger-icon-size} * 0.6);
    padding-top: calc(#{$ui-nav-bigger-icon-size} * 0.2);
    text-align: center;
  }

  .ro-button-bigbutton-tip-icon {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-left: calc(#{$ui-nav-bigger-icon-radius} - 22px);
    position: relative;
    top: 3px;
    /* If someone prefers black text for the tip button change the css */
    color: #fff;
    cursor: pointer;
  }
}
.heyyou {
 color: red;
}

.ro-button-bigbutton-icon-container:hover {
  text-decoration: none;
  .ro-navbar__tip-icon {
    color: #fff;
  }
}
