.ro-button-h2text-sized-outer-outer-container {
  margin-top: calc(4vw * 0.2);
}

.ro-button-h2text-sized-outer-container {
  width: 4vw;
  height: 4vw;
}

.ro-button-go-icon-container {
  width: 4vw;
  height: 4vw;
  padding: 0px;
  border-radius: 50%;
  overflow: hidden;
  background: $ui-color-highlight;
  display: flex;
  justify-content: center;
}

.ro-button-standard-go-icon {
  width: 4vw;
  height: 4vw;
  color: #fff;
  font-size: calc(4vw * 0.8);
  padding: calc(4vw * 0.1);


  text-align: center;
  align-items: center;
  vertical-align: baseline;
}
