.perf-card-lg {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 16px;
    height: 100%;
    color: rgb(240, 240,240);
    box-shadow: 4px 4px rgba(0, 0, 0, 80%);
    background-size: cover;
    width: 100%;
    object-fit: cover;
}

.perf-card-sm {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 16px;
    padding: 16px;
    height: 120px;
    color: rgb(240, 240,240);
    margin-top: 12px;
    box-shadow: 4px 4px rgba(0, 0, 0, 80%);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/KOHH2016.jpg/800px-KOHH2016.jpg");
    background-size: cover;
    width: 280px;
}

.perf-text {
  position:absolute;
    bottom: 0px;
    left: 1em;
    text-shadow: 0 0 black
}

.perf-text-sm {
  position:absolute;
  height: 100%;
  top: 40px;
  text-shadow: 0 0 black;
  p {
    font-size: small;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.live-button {
  border: solid #C85C5C;
  background-color: #C85C5C;
  justify-content: space-between;
  border-radius: 6px;
  opacity: 80%;
  z-index: 5;
}

.upper-components {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  position: absolute;
  padding:16px;
  z-index: 50;

  width: 100%;
  p {
    margin: 1px;
  }
}
