.perf-card-lg {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 16px;
    height: 100%;
    color: rgb(240, 240,240);
    box-shadow: 4px 4px rgba(0, 0, 0, 80%);
    background-size: cover;
    width: 100%;
    object-fit: cover;
}

.perf-card-sm {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    color: rgb(240, 240,240);
    box-shadow: 4px 4px rgba(0, 0, 0, 80%);
    background-size: cover;
}

.perf-text {
  position:absolute;
  bottom: 0px;
  left: 0px;
  text-shadow: 0 1px black;
  width: 100%;
  padding: 5px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.live-now-card-text {
  margin-bottom: 2px;
}

.perf-text-sm {
  position: relative;
  top: 0px;
  text-shadow: 0 1px black;
  left: 0px;
  p {
    font-size: small;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:12px;
  margin-bottom:24px;
}

.live-button-red {
  border: solid #C85C5C;
  background-color: #C85C5C;
  justify-content: space-between;
  border-radius: 6px;
  opacity: 80%;
  z-index: 5;
  text-align:center;
}

.live-button-blue {
  border: solid skyblue;
  background-color: skyblue;
  justify-content: space-between;
  border-radius: 6px;
  opacity: 80%;
  z-index: 5;
  text-align:center;
}

.upper-components {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  position: absolute;
  padding:16px;
  z-index: 50;

  width: 100%;
  p {
    margin: 1px;
  }
}

.small-cards {
  margin-bottom: 2em;
  width: 50%;
  padding: 4px;
  position:relative;
}

.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.show-button {
  justify-content: end;
}
