.half_and_half-wrapper {
  height: 30vh;
}

.home-halfscreen-lower {
  top: 30vh;
}

.home-halfscreen-upper {

}

.overlay-wrapper {
  position: absolute;
  display: flex;
  left: 0px;

  width: 100%;
  height: 100%;

  outline: 1px solid blue;
  z-index: 50;
  background: transparent;
}

.big-center-card {
  position: relative;
  width: 100%;
  height: 50vh;
  top: 5vh;
  outline: 1px solid red;
  background: #ddd;
  border-radius: 15px;
  overflow: hidden;
}

/* 320px — 480px: Mobile devices. */
/* 481px — 768px: iPads, Tablets. */
/* 769px — 1024px: Small screens, laptops. */
/* 1025px — 1200px: Desktops, large screens. */
/* 1201px and more — Extra large screens, T */

/* a bit more map height for landscape smartphones */
@media(max-height: 500px) {
  .half_and_half-wrapper {
  height: 40vh;
}

.home-halfscreen-lower {
  top: 40vh;
}
.big-center-card {
  height: 70vh;
}
}
