.top-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.navbar-background {
  outline: 1px solid #f7f7f7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $background-color;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 70;
  overflow: visible;
  opacity: 0;
  transition: opacity 0.3s ease-out;

}

.navbar-background.navbar-fadein {
  opacity: 1;

}
