.performance_show_navbar__outer_container {
  flex-grow: 1;
  display: flex;
  z-index: 97;
}

.performance_show_navbar__inner_container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 98;
}

p.performance_show_navbar__text {
  width: 100%;
  margin-bottom: 0px;
  margin-left: 10px;
  z-index: 99;
  }
