.profile-photo {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 3px solid black;
}

.display-name {
  font-size: 36px;
}

.profile-btn {
  width: 150px;
  font-size: 20px;
  border-radius:10px;
  background-color: #34344E;
  border: solid 1px #34344E;
  text-align: center;
  margin: auto;
  color: white;
}

.user-buttons {
  text-align: center;
  display: block;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  clear:both;
}
