.amount-item {
  display: inline-block;
}

.amount-selector {
  position: absolute;
  transform: scale(0);
}

.amount-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  border-radius: 45px;
  background-color: #4B4B6F;
  color: #dfdfdf;
  border: 1px solid #DFDFDF;
  padding: 8px 50px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
  }

.form-check-input.is-valid ~ .form-check-label {
   color: #dfdfdf;
}

.amount-selector:checked + label {
  background-color: #7C241E;
  color: #dfdfdf;
}

.tip_amount .col-form-label {
  display: none;
}

.btn {
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 16px;
  padding: 0.1rem 0.5rem;
  background-color: #4B4B6F;
  color: #dfdfdf;
  border: 1px solid #DFDFDF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  padding: 8px 24px;
  opacity: 0.6;
  margin-bottom: 30px;
  text-align: center;
}

.tip-btn {
  display: inline-block;
  font-size: 26px;
  border-radius: 16px;
  background-color: $ui-color-highlight;
  color: #dfdfdf;
  padding: 8px 24px;
  margin-bottom: 30px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
