
::placeholder {
  /* color: $ui-color-text-lowlight; */
}

.searchbar-home {
  position: relative;
  float: left;
  display: none;
}

.saerch_bar_heading-inset {
    padding-left: $banner_items_indent;
}

/* by default search bar appears at top of page on all srceens */
.searchbar-main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-grow: 0;

  width: 100%;
  padding-left: 0px;
  outline: 0px solid blue;
}

/* searchbar-pageswitch is applied to home page to make search bar disappear for bigger screens */
.searchbar-pageswitch {
  display: none;
}

.ro-search-bar-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: $ui-nav-icons-size;
  padding-bottom: 10px;
  padding-top: 20px;
  z-index: 99;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
    float: left;
    width: 512px;
    margin-right: 0px;
    outline: 0px solid red;
    margin-right: 10px;
    margin-left: 10px;
}

.ro-search-bar__bar {
  max-width: 512px;
  width: 100%;
  border-radius: 25px;
  margin-right: calc(#{$ui-nav-icons-size} * -1);
  padding-top: -5px;
  padding-left: 10px;
  padding-right: $ui-nav-icons-size;

}



.ro-search-bar__bar:focus {
  outline: none;
}

.ro-search-bar__button {
  border-radius: 50%;
  height: 50px;
  width: 52px;
  border: 0px;
  color: #fff;
  background-color: $ui-color-highlight;

}


/* 320px — 480px: Mobile devices. */
/* 481px — 768px: iPads, Tablets. */
/* 769px — 1024px: Small screens, laptops. */
/* 1025px — 1200px: Desktops, large screens. */
/* 1201px and more — Extra large screens, T */
/* laptops */


@media(max-width: 768px) {
  .searchbar-home {
    display: none;
  }

  .searchbar-main {
    flex-grow: 0;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }



  .ro-search-bar-container {
    margin-left: 10px;

    float: left;
    width: 312px;

  }
}


@media(max-width: 480px) {
    .searchbar-main {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    width: 100%;
  }

  .searchbar-pageswitch {
    display: block;
  }

  .ro-search-bar-container {
    margin: auto;
    width: 90%;
    float: none
  }
}
