<h3 id="tip-amount">¥
  <span
    data-controller="animated-number"
    data-animated-number-start-value="0"
    data-animated-number-end-value="<%= amount %>"
    data-animated-number-duration-value="1000"
  ><%= amount %>
  </span>
</h3>
