<div class="tip-message">
            <%= image_tag "https://avatars.githubusercontent.com/u/88181896?v=4", class:"avatar-large" %>
            <h5 class="tip-text"><%= tip.user.username %> tipped!</h5>
            <span><%= tip.amount_cents %> ¥</span>
</div>
