<div class="container-md">
  <h1 class="red-circle center">Tip</h1>
  <h2 class="center">Tip <%= @performance.artist.name %>?</h2>
  <p class="center">How much?</p>
  <%= render 'tips/form' %>
</div>
