<% if false %>
  if tipped
  <h3>Thank you for tipping #{artist.name}</h3>
  <div class="btn">
    <h3>Reward Gift</h3>
  </div>
  <div class="btn">
    <%= link_to 'Back', performance_path(@performance) %>
  </div>
  else below
<% end %>
<div class="container-md">
  <h1 class="red-circle center">Tip</h1>
  <h2 class="center">Tip <%= @performance.artist.name %>?</h2>
  <p class="center">How much?</p>
  <%= render 'tips/form' %>
</div>
