<div class="container">
  <div class="col">
    <h1>THANK YOU!</h1>
    <p>You have tipped  <strong><%= @tip.performance.artist.name %></strong> for <strong>¥ <% @tip.amount %></strong></p>
  </div>
</div>
