  <%begin %>
  <%# Posting a perforance is a user journey for artists, and also I'll make this available in the user menu, so I'm commenting this button for now. Gareth %>
  <div class="ro-wrapper wireframe dark_purple_background">
    <div class="ro-container wireframe" style="">
      <div class="d-flex justify-content-end">
        <%= link_to "Post your performance", new_performance_path, class:"btn tip-btn w-75 btn-block" %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Post your performance", new_performance_path, class:"btn tip-btn w-75 btn-block" %>
  </div>
<% end %>
