<h3>Tip Rankings</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <p>#</p>
      </th>
      <th scope="col">
        <p>Artist Name</p>
      </th>
      <th scope="col">
        <p>Total Tips</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <% num = 1 %>
    <% artist_ranking.first(10).each do |artist| %>
      <tr>
        <th scope="row">
          <p><%= num %></p>
        </th>
        <td>
          <p><%= artist.name %></p>
        </td>
        <td>
          <p><%= artist.tips_total %></p>
        </td>
      </tr>
      <% num += 1 %>
    <% end %>
  </tbody>
</table>
