<div class="container d-flex justify-content-center">
  <h1>LiveHere</h1>
</div>

<!--Artist profile part -->
<div class="container d-flex justify-content-between">
  <img src="https://www.aceshowbiz.com/images/photo/shakira.jpg" alt="no image" class="avatar-large">
  <div class="container d-flex align-content-center justify-content-around flex-column">
    <h3 class="m-0">Artist Name</h3>
    <p class="m-0">10 performances to date</p>
  </div>
  <%= link_to 'edit', "/", class:'btn btn-primary' %>
</div>


<!--Streaming part -->



<!-- Cards space-->
